PAGBANK_API_URL=https://sandbox.api.pagseguro.com
PAGBANK_API_TOKEN=
PAGBANK_API_PAY_URL=https://pagamento.sandbox.pagbank.com.br

GATEWAY_CONFIG_NOTIFICATION_WEBHOOK_URLS=https://localhost/api/v1/webhook/pagbank/update
GATEWAY_CONFIG_PAYMENT_NOTIFICATION_URLS=https://localhost/api/v1/webhook/pagbank/payment-update
GATEWAY_CONFIG_PAYMENT_METHOD=PIX
GATEWAY_CONFIG_SOFT_DESCRIPTOR=
GATEWAY_CONFIG_RETURN_URL=https://site.com
GATEWAY_CONFIG_REDIRECT_URL=https://site.com
GATEWAY_CONFIG_CUSTOMER_MODIFIABLE=false

EVENT_URLS=http://localhost:8081/api/
NGROK_AUTHTOKEN=your-ngrok-authtoken-here
